<h1>{{titreCV}}</h1>
<h2>{{nom}} {{prenom}}</h2>
  <div id="paraContact">
    <h3 id="contact">{{contact}}</h3>
      <p><img src="" alt="mail" class="contact" id="mail">{{mail}}</p>
      <p><img src="" alt="numeroTel" class="contact" id="tel">{{tel}}</p>
      <p><img src="" alt="Adresse" class="contact" id="adresse">{{adresse}}</p>
  </div>

  <div id="paraCompetence" class="blocGauche">
    <div class="textRubrik">
      <h3>{{competence}}</h3>

    </div>
  </div>

  <div id="paraDiplome" class="blocDroite">
    <div class="textRubrik">
      <h3>{{diplome}}</h3>


    </div>
  </div>

  <div id="paraExperience" class="blocDroite">
    <div class="textRubrik">
      <h3>{{experience}}</h3>


    </div>
  </div>

  <div id="paraLoisir" class="blocloisir">
    <div class="textRubrik">
      <h3>{{loisir}}</h3>


    </div>
  </div>